<p><%= link_to "Edit bulk discount", "/merchants/#{@bulk_discount.merchant.id}/bulk_discounts/#{@bulk_discount.id}/edit" %></p>

<p>Percentage discount: <%= @bulk_discount.percentage %></p>
<p>Quantity threshold: <%= @bulk_discount.quantity_threshold %></p>